form#login{
    display: none;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 200px;
    padding: 40px 25px 25px 25px;
    width: 350px;
    z-index: 999;
    left: 50%;
    margin-left: -200px;
    color: #878787;
    font-size: 11px;
}

form#login h1{
    color: #333333;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 27px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    margin: 0 0 30px 0;
}

form#login input#username,
form#login input#password{
    border: 1px solid #EDEDED;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    color: #333333;
    font-size: 15px;
    padding: 10px 10px 10px 13px;
    width: 325px;
    margin: 7px 0 30px 0;
    background-color: #F9F9F9;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

form#login input#username:focus,
form#login input#password:focus{
    background-color: #FFF;
}

form#login input.submit_button{
    font-size: 13px;
    color: #FFF;
    border: 1px solid #b34336;
    background-color: #e25c4c;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ba3f31;
    padding: 9px 31px 9px 31px;
    background: -moz-linear-gradient(top, #ea6656, #df5949);
    border-top: 1px solid #bb483a;
    border-bottom: 1px solid #a63b2e;
    float: right;
    box-shadow: 0 1px 0 #E87A6E inset;
}

form#login a{
    text-decoration: none;
}

form#login div.close{
    color: #DCDCDC;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer; cursor: hand;
}

form#login a.lost{
    color: #B4B2B2;
    float: left;
    margin: 10px 0 0 0;
}

form#login p.status{
    text-align: center;
    margin: -25px 0 20px 0;
    display: none;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
    opacity: 0.9;
    position: fixed;
    z-index: 998;
}

@media only screen and (max-width: 719px) {
	form#login{
    /* position: fixed; */
    top: 75px;
    padding: 10px 10px 10px 10px;
    width: 90%;
    left: 50%;
    margin-left: -48%;
    /*margin-right: 5%;*/
	}
	
	form#login input#username,
	form#login input#password{
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: 5px 0 20px 0;
	}
}

@media only screen and (max-width: 719px) and (max-height: 320px) {
	form#login{
    /* position: fixed; */
    top: 65px;
    padding: 5px 5px 5px 5px;
    width: 90%;
    left: 50%;
    margin-left: -45%;
	}

	form#login h1{
    color: #333333;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    margin: 0 0 15px 0;
	}

	form#login input#username,
	form#login input#password{
    /* font-size: 15px; */
    padding: 5px 10px 5px 10px;
    width: 90%;
    margin: 5px 5px 5px 5px;
	}

	form#login input.submit_button{
    font-size: 13px;
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 10px 0;
	}
 
	form#login a.lost{
    color: #B4B2B2;
    float: left;
    margin: 0 0 0 10px;
	}

	form#login label {
 	   margin: 0 0 0 10px;
	}

	form#login a.close{
    right: 15px;
    top: 5px;
	}
}	